* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.title {
  margin: 30px 0;
  font-size: 50px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.table-1 {
  background-color: #f0fff8;
  border-top: 1px solid #80ced6;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.row {
  border: 1px solid #80ced6;
  border-top: none;
}

.col {
  float: left;
  padding: 20px;
}

.col-1 {
  border-right: 1px solid #80ced6;
  width: 30%;
}

.col-2 {
  width: 69%;
}

.clearfix {
  clear: both;
}
